# Database Configuration
DB_HOST=localhost
DB_NAME=ridesense_db
DB_USER=postgres
DB_PASSWORD=your_password
DB_PORT=5432

# File Paths (for new mode)
NEW_PBF_PATH=./osm_pbf_inputs/osm_pbf_new/india-latest.osm.pbf
OUTPUT_PBF_PATH=./osm_pbf_augmented_output/india-latest-augmented.osm.pbf

# Urban Pressure (env overrides)
URBAN_PRESSURE_LAT_MIN=6.5
URBAN_PRESSURE_LAT_MAX=35.5
URBAN_PRESSURE_LON_MIN=68.0
URBAN_PRESSURE_LON_MAX=97.5
URBAN_PRESSURE_RECREATE_INDIA_GRIDS_54009=false
URBAN_PRESSURE_CHUNK_SIZE=200000
URBAN_PRESSURE_PD_SAT=50000
URBAN_PRESSURE_NEIGHBOR_RADIUS=2000
URBAN_PRESSURE_RASTER_TILE_SIZE=256
URBAN_PRESSURE_POP_RASTER_PATH=./data/GHSL_data/GHS_POP_E2030_GLOBE_R2023A_54009_100_V1_0.tif
URBAN_PRESSURE_BUILT_RASTER_PATH=./data/GHSL_data/GHS_BUILT_S_E2030_GLOBE_R2023A_54009_100_V1_0.tif
